.MovieDetail .external-links a {
  font-size: 32px;
  margin-right: 10px;
  color: #444;
}

.external-links a.imdb {
  color: #f3ce13;
}

.MovieDetail .queue-button {
  margin-top: 1rem;
  margin-bottom: 3rem;
}
