.Footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
}

.Footer .copyright {
  margin-right: 1rem;
}

.Footer .poweredByTmdb {
  width: 70px;
  height: 60px;
  vertical-align: middle;
}